<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ message }} </title>
</head>
<body>
   <h1>Welcome {{ username }} </h1>
   {% endblock %}
</body>
</html>